@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;800&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Sen', sans-serif;
	overflow: hidden;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style: none;
}

/*  Navbar Style*/
.top-nav {
	position: relative;
	background: rgba( 255, 255, 255, 0.25 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	padding: .5rem 0;
	z-index: 10;
} 

.top-nav p {
	float: left;
	display: inline-block;
	margin-left: 4em;
	padding: .5em;
	font-size: 1.2rem;
}

.btn {
	float: right;
	margin-right: 4em;
}

button {
	font-family: 'Sen', sans-serif;
	padding: .9em;
	background-color: transparent;
	border-radius: 3.5px;
	border: 2px solid #fff;
}

button a {
	color: #fff;
}

.top-nav p:hover, .top-nav p:active {
	border-bottom: 2px solid #fff;
}

button a:hover, button a:active {
	color: #333;
	transition: all .5s ease-in;
}

button:hover, .button:active {
	color: #333;
	background-color: #fff;
	transition: all .5s ease-in;
}

/* Header Style */
.header {
	color: #fff;
	height: 90vh;
}

.header video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.jumbotron {
	position: relative;
	margin: 0 4em;
	padding: 100px 0;
	text-align: center;
	z-index: 999;
}
 
/* Search Box Style */
.search {
	margin-top: 1em;
}


.jumbotron h4 a {
	color: #fff;
	font-weight: 400;
}

.jumbotron h4 {
	font-weight: 400;
	padding: .8em;
}

/* Photo Copyright Style */
.source {
	position: relative;
	padding: 1em;
	margin: 0 auto;
	width: fit-content;
	/* height: max-content; */
	background: rgba( 255, 255, 255, 0.25 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 5px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.photo a{
	color: #fff;
}

/* All Hover */
.jumbotron h4 a:hover, .photo a:hover {
	border-bottom: 2px solid #fff;
	transition: all .5s ease;
}

nav ul li a:hover, .copy a:hover {
	color:#ddd;
	transition: all .3s ease;
}

/* footer */
.footer {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 10vh;
	padding: .5rem;
	background-color: rgb(34, 31, 31);
	color: #fff;
	font-size: .9rem;
	z-index: 10;
}

.footer p {
	color: #fff;
	font-weight: 500;
	font-size: .9rem;
}

.nav {
	flex: 4;
	order: 1;
	margin-left: 3em;
}

.copy {
	flex: 1;
	order: 2;
	padding: 1rem;
	margin-right: 3em;
}

.copy a {
	color: #fff;
}

/* Footer Menu  */
	
nav ul {
	position: relative;
	display: inline-flex;
	width: 100%;
	float: left;
}

nav ul li a{
	display: block;
	padding: 15px;
	color: #fff;
}

/* Responsive Breakpoint */

@media screen and (max-width: 512px) {
	* {
		margin: 0;
		padding: 0;
	}
	main {
		height: 100vh;
	}

	.top-nav {
		width: 100%;
		background: transparent;
		padding: .7em;
		margin: 0;
	}  
	
	.top-nav p {
		float: left;
		margin-left: .3em;
	}
	
	.top-nav .btn {
		float: right;
		margin-right: .3em;
	} 
	
	.header {
		height: 85vh;
		padding: 1rem;
	}

	.jumbotron {
		margin: auto;
	}

	.photo {
		width: fit-content;
		font-size: .86rem;
	}

	.footer {
		margin: 0;
		padding: 0;
		height: 15vh;
		font-size: .75rem;
		display: flex;
		flex-direction: column;
		/* text-align: center; */
	}

	.nav {
		flex: 1;
		order: 1;
		margin: 0 auto;
		padding: .5em;
		text-align: center;
	}

	.copy {
		padding-top: 5px;
		flex: 1;
		order: 2;
		margin: 0 auto;
		text-align: center;
	}
}
